<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<title>About Climber's Crown</title>
</head>
<body role="document">
	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Climber's Crown</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">{{ city }}</a></li>
					{% for otherCity in otherCities %}
						<li><a href="/podium/{{ otherCity.name }}">{{ otherCity.formattedName }}</a></li>
					{% endfor %}
					<li><a href="/about.html">How it Works</a></li>
				</ul>
			</div>
		</div>
	</nav>
<div class="container" role="main">