<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<title>Climber's Crown</title>
	<style>
	.jumbotron {
		background-image: url("{% static "hampsten.jpg" %}");
		background-size: cover;
		vertical-align: top;}
	</style>
</head>
<body role="document">
	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Climber's Crown</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% for city in cities %}
						<li><a href="/podium/{{ city.name }}">{{ city.formattedName }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	<!-- I know, this bunch of breaks is a hideous solution.  I'm no designer -->
	<div class="jumbotron"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><div class="container"><h1>Climber's Crown {{ thisYear }}</h1></div></div>
	</nav>

<div class="container" role="main">
	<!-- Leaderboard -->
	<p class="lead">We've selected three popular cycling climbs from various California cities and used their Strava data to create overall leaderboards for that area.  Do you have what it takes to earn this year's title of climbing champion in your city?<br><br>
	Select a city:</p>
		<ul class="fa-ul">
		{% for city in cities %}
			<li><i class="fa-li fa fa-square"></i><a href="/podium/{{ city.name }}">{{ city.formattedName }}</a></li>
		{% endfor %}
		</ul>
	<br>
	<p>This project was based on the Norwegian site <a href="http://www.klatrekonge.com/">Klatrekongen</a> by <a href="http://www.martinhoff.com/">Martin Hoff</a>.  Questions, issues, suggestions?
	<!-- Webcrawler Protection -->
	<script type="text/javascript">
  		document.write('<a href="mailto:nkallhovd' + 'e@gmail.com">Contact Me</a>')
	</script>
	</p><br>
	<h3>Scoring System</h3>
	<p>For each of the three segments in a city, an athlete can accrue a maximum of 1,000 points.  The athlete on the segment with the top time for this year earns the maximum score. If the segment has been ridden by 1,000 or more athletes this year, each of the top 1,000 gets one less point than the athlete before them, so second place gets 999, third gets 998, and so on.  If there are fewer athletes than 1,000, points are assigned based on a ratio of their rank versus the overall rider count, so with 500 riders, the second place athlete would only get 998 points.  These scores are summed up to create the total score, and in case of ties, the athlete with the lowest cumulative time on all three segments is given the advantage.</p>
</div>
<br><br>
</body>


<!-- For some webcrawler protection -->
<script>
    $( document ).ready(function() {
        $('#contactBox').html('<a href="mailto:nkallhovde@gmail.com" class="btn">Contact Me</a>');
    });
</script>